/* rwd img css，可當作是 CSS Reset 其中一個 */
img{
    max-width: 100%;
    height: auto;
  }
  .d-f{
      display: flex;
  }
  .mt-21{
    margin-top: 0;
  }

  a{
    text-decoration: none;
  }
/* 全域 border box */
  
  *,*::before,*::after{
    box-sizing: border-box;
  }
/* */ 

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    line-height: 1.5;
}
@include pad{
  .container{
        max-width: 720px;
    }
}
@include mobile{
  .container{
        max-width: 720px;
    }
}
